#after-body {
    min-height: 85vh !important;
}
/* Styling for desktop (min-width: 768px) */
@media (min-width: 768px) {
    .deks-number {
        font-size: 1rem;
        background-color: salmon;
        color: white;
        border-radius: 0;
        width: auto;
        height: auto;
        padding: 20px;
        display: inline;
        border-radius: 10%;
        min-width:52px;
    }
}

.tombol-navigasi:hover {
    background-color: rgba(2,117,216,0.2);
}
.tombol-navigasi {
    width: 30px; height:30px; cursor:pointer;
}

body.finished {
    background-color: #BFC7F2;
}

body.finished>div.container {
    min-height: 84vh;
}