<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quiz Result</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="container text-center mt-5">
      <button id="submitBtn" class="btn btn-primary">Submit</button>
      <div class="confetti-container"></div>
    </div>

    <div class="popup" id="resultPopup">
      <div class="popup-content">
        <button
          id="closeBtn"
          class="btn-close float-end"
          type="button"
          aria-label="Close"
        ></button>
        <img
          src="bg.png"
          alt="bg"
          style="
            position: absolute;
            height: 239px;
            width: 393px;
            margin-left: -190px;
            z-index: -1;
          "
        />
        <h3 class="fw-bold" style="margin-left: 20px; margin-bottom: 50px;">Your Final Score</h3>
        <div class="bintang">
          <div class="star-group">
            <input type="radio" class="star" id="two" name="star_rating" />
            <input type="radio" class="star" id="three" name="star_rating" />
            <input type="radio" class="star" id="four" name="star_rating" />
          </div>
        </div>
        <div
          class="btn btn-light border border-2 border-black pe-5 ps-5 pb-4 position-absolute top-50 start-50 rounded-5"
          style="
            margin-left: -50px;
            margin-top: 47px;
            padding-bottom: 20px;
            z-index: -1;
            padding-left: 10px;
          "
        ></div>
        <div
          class="row mt-2 position-relative"
          style="padding: 5px; border-color: #95a2e9"
        >
          <div class="col text-end">
            <img
              src="bedge.png"
              alt="lencana"
              style="height: 30px; width: 30px; margin-top: 2px"
            />
          </div>
          <div class="col text-start">
            <h4 class="pt-1 fw-bold" style="margin-left: -15px">
              <span id="score" class="">Error Database</span>
            </h4>
          </div>
        </div>
        <div class="container text-center mt-2">
          <button
            type="button"
            class="btn fw-bold"
            style="background-color: #8897e7"
          >
            Home
          </button>
        </div>
      </div>
    </div>
    <script src="script.js"></script>
  </body>
</html>
