<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../../../public/css/bootstrap/bootstrap.min.css">
  <title>Budak Pintar</title>
  <link rel="stylesheet" href="../../../public/css/home/style.css">
</head>

<body class="container">

  <!-- NAVBAR START -->
  <nav class="navbar navbar-light bg-white fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <img src="../../../public/img/logo.png" alt="" height="40" class="d-inline-block align-text-center">
        <img src="../../../public/img/name_brand.svg" alt="" height="20" class="d-inline-block align-text-center">
      </a>
    <!-- LOGIN -->
    <form class="d-flex justify-content-start align-items-center bg-danger text-center">
      <img src="../../../public/img/user.png" width="40" alt="">
      <a href="" class="text-body ms-2 text-decoration-none">Ummunada_</a>
    </form>
    </div>
  </nav>
  <!-- NAVBAR END -->

  <!-- HERO START -->
  <section id="hero" class="mb-5">
    <div class="row">
      <div class="col-md-6">
        <h2 class="fs-1 text-start  mb-5 pt-md-5">Kerjakan kuis, kapan dan di mana saja!
        </h2>
        <p class="fs-4 text-start mb-5">Pilih kuis sesuai keinginan kamu, agar menambah pengetahuan dan mengasah
          kemampuan.
        </p>
        <div class="row mb-2">
          <div class="col-8 col-md-7">
            <button type="button" class="btn btn-primary btn-lg w-75">Jelajahi Kuis</button>
          </div>
        </div>
        <div class="row">
          <div class="col-8 col-md-7">
            <button type="button" class="btn btn-outline-primary btn-lg w-75">Buat Kuis</button>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <img src="../../../public/img/hero.png" alt="" class="img-fluid">
      </div>
    </div>
  </section>
  <!-- HERO END -->
  <br><br><br>
  <!-- SEARCH START -->
  <section id="search" class="mt-5 mb-5">
    <h2 class="">Temukan kuis yang kamu suka!</h2>
    <form class="d-flex mt-4">
      <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
  </section>
  <!-- SEARCH END -->
<br><br>
  <!-- CATEGORY START -->
  <section id="category">
    <div class="mathematics">
      <h3 class="fs-4">Matematika</h3>
      <div class="row ">
        <div class="col-md-4">
          <div class="card">
            <img src="../../../public/img/probabilitas.jpeg" class="card-img-top" height="200" alt="...">
            <div class="card-body">
              <h5 class="card-title">Judul Kuis</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, necessitatibus.</p>
              <a href="#" class="btn btn-primary">Mulai</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="../../../public/img/statistika.jpeg" class="card-img-top" height="200" alt="...">
            <div class="card-body">
              <h5 class="card-title">Judul Kuis</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, necessitatibus.</p>
              <a href="#" class="btn btn-primary">Mulai</a>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card">
            <img src="../../../public/img/spldv.jpg" class="card-img-top" height="200" alt="...">
            <div class="card-body">
              <h5 class="card-title">Judul Kuis</h5>
              <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, necessitatibus.</p>
              <a href="#" class="btn btn-primary">Mulai</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- CATEGORY END -->

  <script src="../../../public/js/bootstrap/bootstrap.bundle.min.js"></script>
</body>

</html>