/* Gaya untuk elemen kuis */
.kuis-font-roboto {
  font-family: "Roboto", sans-serif;
}

.kuis-font-open-sans {
  font-family: "Open Sans", sans-serif;
}

.kuis-font-montserrat {
  font-family: "Montserrat", sans-serif;
}

.kuis-font-lato {
  font-family: "Lato", sans-serif;
}

.kuis-font-raleway {
  font-family: "Raleway", sans-serif;
}

/* Gaya untuk kategori soal */
.kategori1 {
  background-color: #f59e0b;
}
.kategori2 {
  background-color: #34d399;
}
.kategori3 {
  background-color: #3b82f6;
}
.kategori4 {
  background-color: #ec4899;
}
/* Gaya untuk menghilangkan foto profile di tampilan mobile */
@media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}
