#hero {
  padding-top: 6rem;
}
@keyframes fade-down {
  0% {
    opacity: 0;
    transform: translateY(-1rem) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(1rem) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}
@keyframes fade-right {
  0% {
    opacity: 0;
    transform: translateX(-5rem) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
@keyframes fade-left {
  0% {
    opacity: 0;
    transform: translateX(5rem) scale(0.9);
  }
  100% {
    opacity: 1;
    transform: translateX(0px) scale(1);
  }
}
.card {
  animation: fade-up 0.5s;
}
#hero .row .col-md-6 h2 {
  animation: fade-right 1s;
}
#hero .row .col-md-6 p {
  animation: fade-right 1.5s;
}