
.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
#hero {
    padding-top: 8rem;
}
@media (max-width:576px){
    #hero{
        margin-top: 1rem;
    }
}